@model List<TechnoCinema.Models.Banner>

<h2>Banner List</h2>

<!-- ADD NEW BANNER BUTTON -->
<div class="mb-3">
    <a asp-action="Create" class="btn btn-primary">
         Add New Banner
    </a>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Image</th>
            <th>Position</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var banner in Model)
        {
            <tr>
                <td>@banner.Id</td>

                <td>@banner.Name</td>

                <td>
                    <img src="@banner.ImageUrl" width="150" />
                </td>

                <td>@banner.Position</td>

                <td>
                    <a asp-action="Edit"
                       asp-route-id="@banner.Id"
                       class="btn btn-warning btn-sm">
                        Edit
                    </a>
                </td>

            </tr>


        }
    </tbody>
</table>